@model MotoGP.Models.Ticket
@{
    ViewData["BannerNr"] = 3;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var countries = (IEnumerable<SelectListItem>)ViewData["Countries"];
    var races = (IEnumerable<SelectListItem>)ViewData["Races"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> - MotoGP</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
       <h1 style="color:red">Order Tickets</h1>
       <p>Please fill out the following fields:</p>
       <form asp-action="Create">
           <label asp-for="Name">@(Html.DisplayNameFor(model=>model.Name))</label>
           <input asp-for="Name" /> <br />
            <label asp-for="Email">@(Html.DisplayNameFor(model => model.Email))</label>
            <input asp-for="Email" /> <br />
            <label asp-for="Address">@(Html.DisplayNameFor(model => model.Address))</label>
            <input asp-for="Address" /><br />
            <label asp-for="Number">@(Html.DisplayNameFor(model => model.Number))</label>
            <div class="flexed">
                @for (int i = 1; i <= 6; i++)
                {
                     <input type="radio" asp-for="Number" value="@i" />
                        @i
                }
            </div>
            <br />
            <label asp-for="CountryID">@(Html.DisplayNameFor(model=>model.Country))</label>
            <select asp-for="CountryID" asp-items="countries"></select><br />
            <label asp-for="RaceID">@(Html.DisplayNameFor(model => model.Race))</label>
            <div class="flexed">
                @foreach (var race in races)
                {
                    <label>
                         <input type="radio" asp-for="RaceID" value="@race.Value" />
                         @race.Text
                    </label>
                    <br />
                }
            </div>
            <br />
            <input type="submit" value="Order" />
       </form>
       <a asp-controller="Home" asp-action="Menu">Back</a>
    </div>
</body>
</html>